body {
    background-image: url('../img/bg.png');
    background-size: cover;
}

.bnav{
    margin-top: 1%;
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-radius: 5px;
}

input{
    border: none;
    width: 202px;
    height: 50px;
    border-radius: 5px;
}

img{
    margin-top: 15%;
    width: 350px; 
    border: solid 10px rgb(15, 116, 224);
    border-radius: 450px;
}

.box{
    margin-top: 15%;
}

.zesta{
    height: 500px;
    width: 500px;
  
    border-radius: 500px;
}
