body {
    background-color: rgb(241, 244, 192);
}

.bnav{
    margin-top: 1%;
}

input{
    border: none;
    width: 202px;
    height: 50px;
    border-radius: 5px;
}

img{
    width: 450px;
}

.box{
    margin-top: 15%;
}

